<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<body>
    <div>API 테스트 페이지 입니다.</div>
    <button type="button" onclick="callApi()">API 호출 버튼</button>
    <script>
        const callApi = () => {
            fetch('/api/users/num', {
                method: 'GET',
                headers: {
                  'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log("받은 데이터:", data);

                for i in datalist:
                    new Maralskdmlakscmlk

            })
            .catch(error => {
              console.error('에러 발생:', error);
            });
        }
    </script>
</body>
</html>